@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.card-container {
  border-radius: 10px;
}

[data-bs-theme="light"] .card-container {
  box-shadow: rgb(230, 230, 230) 5px 5px 5px;
}

[data-bs-theme="dark"] .card-container {
  box-shadow: rgb(25, 25, 25) 5px 5px 5px;
}

.footer {
  font-size: x-small;
}